table, td, th{
    border: 1px solid red;
    border-collapse: collapse;
}

table thead th{
    background-color: aqua;
}
table tbody > tr{
    background-color: blue;
}

table thead~tbody>tr{
    background-color: brown;
}

tbody tr:nth-child(even){
    background-color: blueviolet;
}

tbody tr:hover{
    background-color: green;
    border: 10px;
    color: deepskyblue;
    font-style: italic;
}
table{
    margin: auto;
}
