table, thead, tbody, tr, th, td{
    border: 1px dotted red;
    border-collapse: collapse;
}


tr td:last-child{
    background-color: aqua;
}
tr td:nth-last-child(3){
    background-color: aqua;
}
#gyakorlas{
    background-color: blue;
    color: red;
}
#gyakorlas button:has(+p){
    background-color: purple;
}

#gyakorlas button:not(:has(+p)){
    background-color: black;
}

#gyakorlas:has(+a:hover) button{
    color: brown;
}

tr:not(:has(td[rowspan]))+tr:not(:has(td[rowspan])):hover td{
    background-color: green;
}

tbody tr:has(td[rowspan]):hover td{
    background-color: darkorange;
}
tbody tr:has(td[rowspan]):hover + tr td{
    background-color: darkblue;
}
tr:has(td[rowspan]):has(+tr:hover) td{
    background-color: darkmagenta;
}

tr:has(:not([rowspan])):has(+tr:hover)+ tr td{
    background-color: purple;
}

.marked{
    color: red;
}

